@font-face {
    font-family: 'si-yuan';
    src: url("./siyuan.ttf");
}

@font-face {
    font-family: 'Poppin';
    src: url("./Poppins-Bold.ttf");
}

@font-face {
    font-family: 'Poppins-regular';
    src: url("./Poppins-Regular.ttf");
}

